<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Battleship</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<!-- <link href='https://fonts.googleapis.com/css?family=Teko:400,700' rel='stylesheet' type='text/css'> -->
		<link rel="stylesheet" href="static/css/styles.css" media="screen" title="no title" charset="utf-8">
			<script type="text/javascript" src="static/angular/boardController.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<nav class="navbar navbar-inverted">
				<div class="container-fluid">
					<div class="navbar-header">
						<h1 class="logo">BATTLESHIP</h1>
					</div>
					<ul class="nav navbar-right">
						<li class="logout"><a href="#">Logout</a></li>
					</ul>
				</div>
			</nav>
			<div class="main" ng-app="app" ng-controller="appCtrl">
				<div class="left_player-board col-md-5-left">
					<table >
						<tbody >
							<tr class="row" ng-repeat="row in cells track by $index" ng-if="$index%10==0">
								<td class="cell" ng-repeat="i in [$index,$index+1,$index+2,$index+3, $index+4,$index+5,$index+6, $index+7, $index+8, $index+9]"
								ng-if="cells[i]!=null">
								{{cells[i]}}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
				<div class="chat col-mid-2">

				</div>
				<div class="right_player-board col-md-5-right" >
					<table >
						<tbody >
							<tr class="row" ng-repeat="row in cells track by $index" ng-if="$index%10==0">
								<td class="cell" ng-repeat="i in [$index,$index+1,$index+2,$index+3, $index+4,$index+5,$index+6, $index+7, $index+8, $index+9]"
								ng-if="cells[i]!=null">
								{{cells[i]}}
							</td>
						</tr>
					</tbody>
				</table>
					</div>
				</div>
		</div>		<!-- end of container -->
	</body>
</html>
